<%- include("../partials/head",{webTitle:"home"}) %>

  <body>
    <h1 class="text-center">Bienvenidos a Api de productos</h1>
    <h2 class="mt-5">Que desea hacer?</h2>

    <a class="btn btn-primary " href="/api" role="button">Cargar Productos </a>
    <a class="btn btn-success  " href="/api/productos" role="button">Ver lista de Productos </a>
  </body>

  </html>